<table>
    <tr>
        <!-- <td>
            <a routerLink="public-page">[PUBLIC-PAGE]</a>
        </td>
        <td>
            <a routerLink="restricted-page" *ngIf="isLoggedIn()">[RESTRICTED-PAGE]</a>
        </td> -->
        <td><button (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button></td>
        <td><button (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td>
    </tr>
</table>

<div *ngIf="isLoggedIn()">
    <h3>You are logged in.</h3>
</div>
<div *ngIf="!isLoggedIn()">
    <h3>You are NOT logged in.</h3>
</div>

<table *ngIf="isLoggedIn()">
    <tr>
        <td><button (click)="callProfile()">GET Profile</button></td>
    </tr>
    <tr>
        <td><button (click)="callMySkills()">GET My Skills</button></td>
    </tr>
    <tr>
        <td><button (click)="callMessages()">GET Mails</button></td>
    </tr>
    <tr>
        <td><button (click)="getUsers()">GET Users</button></td>
    </tr>
    <tr>
        <td><button (click)="getSubordinates()">GET Subordinates</button></td>
    </tr>
    <tr>
        <td><button (click)="callJoinedTeams()">GET Joined Teams</button></td>
    </tr>
    <tr>
        <td><button (click)="getBackendsApi()">Get Backends Api</button></td>
    </tr>
    <tr>
        <td>API Response {{apiResponse}}</td>
    </tr>

</table>

<!-- <router-outlet></router-outlet> -->
